*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245, 243, 251);

}


.nav__color {
    background-color: rgb(240, 238, 245);
}

.text {
    font-size: 60px;
}

.imagen {
    width: 50px;
}

.carousel__alto {
    height: 600px;

}
 
     
  


.footer {
    background-color:rgb(245, 243, 251);
    color: rgb(90, 89, 89);
    clear: both;
    padding: 2rem;
    text-align: center;
    
}
.footer__menu{
list-style: none;
text-align: center;
} 

.footer__titulo, {
   font-size: 0.9rem;
   text-align: center;
   
}  

.footer__menu a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 0.7rem;
} 

.footer__creditos {
    font-size: 0.6rem;
    text-align: center;
} 

.enlace {
    color: black;
    text-decoration: none;
    font-size: 0.6rem;
    text-align: right;
} 




/* Transformaciones */

h1{
    color: rgb(192, 192, 192);
    font-size: large;
}

h1:hover{
    color: black;
    font-size: x-large;
}




